<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109541648947-hm6sqm9lqkov2bv8kkf26dc8glko1djr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109541648947-hm6sqm9lqkov2bv8kkf26dc8glko1djr</string>
	<key>API_KEY</key>
	<string>AIzaSyA6r2UzdwLwCr2mfbNXBs-pdynnCH1ECqk</string>
	<key>GCM_SENDER_ID</key>
	<string>109541648947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App.-77DeckCards</string>
	<key>PROJECT_ID</key>
	<string>spiritworkcard</string>
	<key>STORAGE_BUCKET</key>
	<string>spiritworkcard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109541648947:ios:79e5dc67161ad80ee75146</string>
	<key>DATABASE_URL</key>
	<string>https://spiritworkcard.firebaseio.com</string>
</dict>
</plist>